<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83967b">  <td>20/12/22 12:06:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.browserLaunch()[pri:0, instance:com.orghrm.qa.tests.LoginTest@76f2b07d]">&gt;&gt;browserLaunch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>20/12/22 12:07:09</td>   <td>15364</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.browserLaunch()[pri:0, instance:com.orghrm.qa.tests.HomeTest@704a52ec]">&gt;&gt;browserLaunch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="7ec378">  <td>20/12/22 12:07:05</td>   <td>11251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyLoginFunc(java.lang.String, java.lang.String)[pri:0, instance:com.orghrm.qa.tests.LoginTest@76f2b07d]">verifyLoginFunc</td> 
  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="7ec378">  <td>20/12/22 12:07:09</td>   <td>15166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyLoginFunc(java.lang.String, java.lang.String)[pri:0, instance:com.orghrm.qa.tests.LoginTest@76f2b07d]">verifyLoginFunc</td> 
  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="7ec378">  <td>20/12/22 12:07:09</td>   <td>15278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyLoginFunc(java.lang.String, java.lang.String)[pri:0, instance:com.orghrm.qa.tests.LoginTest@76f2b07d]">verifyLoginFunc</td> 
  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>20/12/22 12:07:16</td>   <td>22199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verifyLogout()[pri:0, instance:com.orghrm.qa.tests.HomeTest@704a52ec]">verifyLogout</td> 
  <td>main@1053631449</td>   <td></td> </tr>
</table>
