<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e3c998">  <td>20/12/22 12:16:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.browserLaunch()[pri:0, instance:com.orghrm.qa.tests.HomeTest@27a8c74e]">&gt;&gt;browserLaunch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1970881185</td>   <td></td> </tr>
<tr bgcolor="7ec378">  <td>20/12/22 12:16:25</td>   <td>8762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verifyLogout()[pri:0, instance:com.orghrm.qa.tests.HomeTest@27a8c74e]">verifyLogout</td> 
  <td>main@1970881185</td>   <td></td> </tr>
<tr bgcolor="e3c998">  <td>20/12/22 12:16:29</td>   <td>13143</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeBrowser()[pri:0, instance:com.orghrm.qa.tests.HomeTest@27a8c74e]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1970881185</td>   <td></td> </tr>
</table>
